
<!-- <%= image_tag 'wobblee_logo_cut', id: "logo_pic" %>> -->


<!-- <%= link_to 'Results', '/game_result', class: "results" %> -->
<!-- <%= image_tag 'gif', id: "gif" %>> -->

<div class="gif">

  <p id="paragraph_line_one">Your Reaction Time was <span><%=cookies['timer']%> seconds</span></p>

  <p id="paragraph_line_two">Whoa! Someone's a party animal! <br>
    With that reaction time, <br> it will take you about <span>5 hours </span>for the alcohol <br>
    to exit your system! <br> You should
    <span>NOT BE DRIVING</span></p>

    <p id="paragraph_line_three">Please find a friend or an alternate way <br>
      to get home.</p>


      <h3>Results</h3>

      <span id="safe_whobbles">Safe Whobbles!</span>
</div>

<%= link_to (image_tag '/back_arrow.png'), '/play_game',class: "back_arrow" %>
